# The ID of your GitHub App
APP_ID=8470
WEBHOOK_SECRET=secret

# Uncomment this to get verbose logging
 LOG_LEVEL=trace # or `info` to show less

# Go to https://smee.io/new set this to the URL that you are redirected to.
# WEBHOOK_PROXY_URL=
